<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Acids, anti-oxidants, mineral solts</key>
	<array>
		<string>E296</string>
		<string>E310</string>
		<string>E311</string>
		<string>E312</string>
		<string>E313</string>
		<string>E314</string>
		<string>E315</string>
		<string>E316</string>
		<string>E317</string>
		<string>E318</string>
		<string>E319</string>
		<string>E320</string>
		<string>E321</string>
		<string>E335</string>
		<string>E338</string>
		<string>E355</string>
		<string>E356</string>
		<string>E363</string>
		<string>E370</string>
		<string>E385</string>
	</array>
	<key>Anti-cacking agents</key>
	<array>
		<string>E503</string>
		<string>E507</string>
		<string>E508</string>
		<string>E510</string>
		<string>E513</string>
		<string>E514</string>
		<string>E518</string>
		<string>E520</string>
		<string>E521</string>
		<string>E522</string>
		<string>E523</string>
		<string>E524</string>
		<string>E525</string>
		<string>E526</string>
		<string>E527</string>
		<string>E528</string>
		<string>E529</string>
		<string>E530</string>
		<string>E536</string>
		<string>E539</string>
		<string>E540</string>
		<string>E541</string>
		<string>E544</string>
		<string>E545</string>
		<string>E553(a)</string>
		<string>E553(b)</string>
		<string>E554</string>
		<string>E556</string>
		<string>E558</string>
		<string>E559</string>
		<string>E576</string>
		<string>E579</string>
	</array>
	<key>Antibiotics</key>
	<array>
		<string>E710</string>
		<string>E713</string>
	</array>
	<key>Colours</key>
	<array>
		<string>E102</string>
		<string>E104</string>
		<string>E107</string>
		<string>E110</string>
		<string>E111</string>
		<string>E120</string>
		<string>E121</string>
		<string>E122</string>
		<string>E123</string>
		<string>E124</string>
		<string>E125</string>
		<string>E126</string>
		<string>E127</string>
		<string>E128</string>
		<string>E129</string>
		<string>E130</string>
		<string>E131</string>
		<string>E132</string>
		<string>E133</string>
		<string>E142</string>
		<string>E150(a)</string>
		<string>E150(b)</string>
		<string>E150(c)</string>
		<string>E150(d)</string>
		<string>E151</string>
		<string>E152</string>
		<string>E153</string>
		<string>E154</string>
		<string>E155</string>
		<string>E160(b)</string>
		<string>E160(c)</string>
		<string>E160(d)</string>
		<string>E160(e)</string>
		<string>E160(f)</string>
		<string>E161(g)</string>
		<string>E173</string>
		<string>E174</string>
		<string>E175</string>
		<string>E180</string>
	</array>
	<key>Flavour enhancers</key>
	<array>
		<string>E620</string>
		<string>E621</string>
		<string>E622</string>
		<string>E623</string>
		<string>E624</string>
		<string>E625</string>
		<string>E626</string>
		<string>E627</string>
		<string>E628</string>
		<string>E629</string>
		<string>E630</string>
		<string>E631</string>
		<string>E632</string>
		<string>E633</string>
		<string>E634</string>
		<string>E635</string>
	</array>
	<key>Miscellaneous</key>
	<array>
		<string>E902</string>
		<string>E903</string>
		<string>E904</string>
		<string>E905(a)</string>
		<string>E905(b)</string>
		<string>E905(c)</string>
		<string>E907</string>
		<string>E910</string>
		<string>E902</string>
		<string>E914</string>
		<string>E920</string>
		<string>E921</string>
		<string>E924</string>
		<string>E925</string>
		<string>E927(a)</string>
		<string>E928</string>
		<string>E940</string>
		<string>E950</string>
		<string>E951</string>
		<string>E954</string>
		<string>E955</string>
		<string>E956</string>
		<string>E961</string>
		<string>E962</string>
		<string>E965</string>
		<string>E999</string>
		<string>E1101</string>
		<string>E1104</string>
		<string>E1200</string>
		<string>E1201</string>
		<string>E1400</string>
		<string>E1403</string>
		<string>E1404</string>
		<string>E1405</string>
		<string>E1410</string>
		<string>E1411</string>
		<string>E1412</string>
		<string>E1413</string>
		<string>E1414</string>
		<string>E1420</string>
		<string>E1421</string>
		<string>E1422</string>
		<string>E1423</string>
		<string>E1430</string>
		<string>E1440</string>
		<string>E1441</string>
		<string>E1442</string>
		<string>E1450</string>
		<string>E1451</string>
		<string>E1501</string>
		<string>E1503</string>
		<string>E1504</string>
		<string>E1505</string>
		<string>E1510</string>
		<string>E1516</string>
		<string>E1517</string>
		<string>E1518</string>
		<string>E1520</string>
		<string>E1521</string>
		<string>E1525</string>
	</array>
	<key>Preservatives</key>
	<array>
		<string>E200</string>
		<string>E201</string>
		<string>E202</string>
		<string>E203</string>
		<string>E210</string>
		<string>E211</string>
		<string>E212</string>
		<string>E213</string>
		<string>E214</string>
		<string>E215</string>
		<string>E216</string>
		<string>E217</string>
		<string>E218</string>
		<string>E219</string>
		<string>E220</string>
		<string>E221</string>
		<string>E222</string>
		<string>E223</string>
		<string>E224</string>
		<string>E225</string>
		<string>E226</string>
		<string>E227</string>
		<string>E228</string>
		<string>E230</string>
		<string>E231</string>
		<string>E232</string>
		<string>E233</string>
		<string>E235</string>
		<string>E236</string>
		<string>E237</string>
		<string>E238</string>
		<string>E239</string>
		<string>E240</string>
		<string>E242</string>
		<string>E249</string>
		<string>E250</string>
		<string>E251</string>
		<string>E252</string>
		<string>E261</string>
		<string>E264</string>
		<string>E280</string>
		<string>E281</string>
		<string>E282</string>
		<string>E283</string>
		<string>E284</string>
		<string>E285</string>
	</array>
	<key>Vegetable gums,emulsifiers,stabilisers</key>
	<array>
		<string>E405</string>
		<string>E407</string>
		<string>E407(a)</string>
		<string>E409</string>
		<string>E412</string>
		<string>E413</string>
		<string>E414</string>
		<string>E416</string>
		<string>E417</string>
		<string>E420</string>
		<string>E421</string>
		<string>E422</string>
		<string>E430</string>
		<string>E431</string>
		<string>E432</string>
		<string>E433</string>
		<string>E434</string>
		<string>E435</string>
		<string>E436</string>
		<string>E441</string>
		<string>E445</string>
		<string>E461</string>
		<string>E462</string>
		<string>E463</string>
		<string>E464</string>
		<string>E466</string>
		<string>E468</string>
		<string>E470</string>
		<string>E470(a)</string>
		<string>E474</string>
		<string>E477</string>
		<string>E478</string>
		<string>E483</string>
		<string>E493</string>
		<string>E494</string>
		<string>E495</string>
	</array>
</dict>
</plist>
